@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  overflow-y: scroll;
  scroll-snap-type: both proximity;
  scroll-behavior: smooth;
}
body {
  color: lightgray;
  background: #0c0c1d;
}
@layer components {
  section {
    @apply h-screen
  }
}

@layer components {
  .li-element {
    @apply font-semibold py-3 px-4 text-lg relative tracking-wide
  }
}

.experiance-section {
  background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
  width: 100%;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
  height: 100%;
}
.skill-section {
  background-image: linear-gradient(to top, #0c0c1d 50%, #5a21b665 100%);
  width: 100%;
  height: 100%;
}
/* ABOUT ME SECTION CURVE  */
.custom-shape-divider-top-1712176223 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1712176223 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1712176223 .shape-fill {
  fill: #0c0c1d;
}

/* SKILL SECTION CURVE  */
.custom-shape-divider-top-1712163452 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1712163452 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 63px;
}

.custom-shape-divider-top-1712163452 .shape-fill {
  fill: rgb(12, 12, 29);
}
.hero-text {
  z-index: 100;
  color: #0c0c1d;
  text-shadow: 
    1px 0 0 #5b21b6, /*right */
    0 1px 0 rgb(91 33 182), /*top */
    -1px 0 0 rgb(91 33 182), /*left */
    0 -1px 0 rgb(91 33 182); /*bottom */
}
.left:before {
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
}

/* .left:hover:before {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
} */

.button {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  z-index: 100;
  cursor: pointer;
}

.button:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 1px solid #5a21b5;
  background: transparent;
  width: 100%;
  height: 100%;
  transition: .3s;
  -webkit-backface-visibility: hidden;
}


/* #home, 
#about, 
#experiance,
#contact {
  scroll-snap-type: none;
} */
.box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(212, 0, 255, 0.357);
  z-index: 0;
}
.logo a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px; 
  border-bottom: 5px solid rgb(59, 12, 67);
  border-left: 5px solid rgb(59, 12, 67);
  bottom: 0;
  left: 0;
}
.logo a::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px; 
  border-top: 5px solid rgb(59, 12, 67);
  border-right: 5px solid rgb(59, 12, 67);
  top: 0;
  right: 0;
}
.active {
  border-bottom: 1px solid rgb(59, 12, 67);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  .nav-item {
    display: flex;
    position: relative;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
  }
}
@layer utilities {
  .indicator {
    width: 6px;
    height: 6px;
    background: #7c43d8;
    position: absolute;
    border-radius: 50%;
    top: 80%;
    left: 50%;
  }
}
.indicator-transition{
  transform: scale(0) translateX(-50%);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.30, 1);
}
.hover-target:hover .indicator-transition {
  transform: scale(1) translateX(-50%);
  /* transition: transform 0.3s ease; */
}

@layer utilities {
  .slider-paragraph {
    margin: 0px;
    color: white;
    font-size: 200px;
    font-weight: 600;
    padding-right: 50px;
    opacity: 5%;
  }
}
